<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <% var dir = process.cwd() %>
    <%- include(dir + '/src/modules/report/pdf/styles.ejs') %>
  </head>
  <body class="bg-[#F5F5F5]">
    <!-- FIRST PAGE -->
    <!-- FIRST PAGE -->
    <!-- FIRST PAGE -->
    <main class="w-[1440px] h-[2040px] aspect-ratio-1440/2040 flex flex-col gap-4">
      <%- include(dir + '/src/modules/report/pdf/nav.ejs') %>

      <div class="w-full h-full px-6">
        <div class="flex flex-col gap-1.5 mb-9">
          <h1 class="text-3xl font-bold">[[ TRANSLATE: Your Maturity Report ]]</h1>
          <p class="text-sm text-muted-foreground">[[ TRANSLATE: Completed on ]]  January 20, 2025</p>
        </div>

        <div class="flex flex-col gap-6 mb-9">
          <h2 class="text-2xl font-semibold">[[ TRANSLATE: Overview ]]</h2>

          <div class="flex gap-6 items-center justify-between">
            <%- include(dir + '/src/modules/report/pdf/overview-card.ejs') %>
            <%- include(dir + '/src/modules/report/pdf/overview-card.ejs') %>
            <%- include(dir + '/src/modules/report/pdf/overview-card.ejs') %>
          </div>
        </div>

        <div class="flex flex-col gap-6">
          <div class="flex flex-col gap-1.5">
            <h2 class="text-2xl font-semibold">[[ TRANSLATE: Detailed report ]]</h2>
            <p class="text-sm text-[#171717]">[[ TRANSLATE: Look for the "Service available" tags below to see where our experts can accelerate your progress. ]]</p>
          </div>

          <div class="flex flex-col gap-6">
            <%- include(dir + '/src/modules/report/pdf/detailed-card.ejs') %>
          </div>
        </div>
      </div>

      <%- include(dir + '/src/modules/report/pdf/footer.ejs') %>
    </main>

    <!-- SECOND PAGE -->
    <!-- SECOND PAGE -->
    <!-- SECOND PAGE -->
    <main class="w-[1440px] h-[2040px] aspect-ratio-1440/2040 flex flex-col gap-4">
      <%- include(dir + '/src/modules/report/pdf/nav.ejs') %>

      <div class="flex flex-col gap-6 w-full h-full px-6">
        <%- include(dir + '/src/modules/report/pdf/detailed-card.ejs') %>
        <%- include(dir + '/src/modules/report/pdf/detailed-card.ejs') %>
      </div>

      <%- include(dir + '/src/modules/report/pdf/footer.ejs') %>
    </main>

    <!-- THIRD PAGE -->
    <!-- THIRD PAGE -->
    <!-- THIRD PAGE -->
    <main class="w-[1440px] h-[2040px] aspect-ratio-1440/2040 flex flex-col gap-4">
      <%- include(dir + '/src/modules/report/pdf/nav.ejs') %>

      <div class="flex flex-col w-full h-full px-6 mt-8">
        <h1 class="text-2xl font-semibold mb-6">[[ TRANSLATE: Your answers ]]</h1>
        <div class="flex flex-col gap-4 mb-9">
          <span class="text-xl font-semibold">TRL</span>
          <div class="flex flex-col gap-2">
            <%- include(dir + '/src/modules/report/pdf/answer-card.ejs') %>
            <%- include(dir + '/src/modules/report/pdf/answer-card.ejs') %>
            <%- include(dir + '/src/modules/report/pdf/answer-card.ejs') %>
            <%- include(dir + '/src/modules/report/pdf/answer-card.ejs') %>
            <%- include(dir + '/src/modules/report/pdf/answer-card.ejs') %>
            <%- include(dir + '/src/modules/report/pdf/answer-card.ejs') %>
            <%- include(dir + '/src/modules/report/pdf/answer-card.ejs') %>
          </div>
        </div>
        <div class="flex flex-col gap-2">
          <span class="text-xl font-semibold">MkRL</span>
          <div class="flex flex-col gap-2">
            <%- include(dir + '/src/modules/report/pdf/answer-card.ejs') %>
            <%- include(dir + '/src/modules/report/pdf/answer-card.ejs') %>
            <%- include(dir + '/src/modules/report/pdf/answer-card.ejs') %>
          </div>
        </div>
      </div>

      <%- include(dir + '/src/modules/report/pdf/footer.ejs') %>
    </main>

    <!-- FOURTH PAGE -->
    <!-- FOURTH PAGE -->
    <!-- FOURTH PAGE -->
    <main class="w-[1440px] h-[2040px] aspect-ratio-1440/2040 flex flex-col gap-4">
      <%- include(dir + '/src/modules/report/pdf/nav.ejs') %>

      <div class="flex flex-col w-full h-full px-6 mt-8">
        <div class="flex flex-col gap-4 mb-9">
          <div class="flex flex-col gap-2">
            <%- include(dir + '/src/modules/report/pdf/answer-card.ejs') %>
          </div>
        </div>
        <div class="flex flex-col gap-2">
          <span class="text-xl font-semibold">MfRL</span>
          <div class="flex flex-col gap-2">
            <%- include(dir + '/src/modules/report/pdf/answer-card.ejs') %>
            <%- include(dir + '/src/modules/report/pdf/answer-card.ejs') %>
            <%- include(dir + '/src/modules/report/pdf/answer-card.ejs') %>
            <%- include(dir + '/src/modules/report/pdf/answer-card.ejs') %>
          </div>
        </div>
      </div>

      <%- include(dir + '/src/modules/report/pdf/footer.ejs') %>
    </main>
  </body>
</html>